In [1]:
from sklearn.datasets import load_boston
import pandas as pd

Xb,yb =load_boston(return_X_y=True)

df_boston = pd.DataFrame(Xb,columns = load_boston().feature_names)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [2]:
df_boston.info()
df_boston.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null float64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null float64
TAX        506 non-null float64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13)
memory usage: 51.5 KB

NameError: name 'plt' is not defined

NameError: name 'plt' is not defined

In [10]:
df_boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [9]:
df_boston.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [11]:
df_boston.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Xb,yb, test_size=0.3, random_state=42)

In [13]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

In [22]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

ridge_model3 = Ridge(alpha = 0.3)
ridge_model3.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model3.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Ridge model coef: [-1.31102630e-01  3.62935301e-02  3.50511575e-02  3.05271864e+00
 -1.19601370e+01  4.06601733e+00 -1.38151686e-02 -1.33366353e+00
  2.34501884e-01 -8.99972171e-03 -8.72097568e-01  1.18807668e-02
 -5.54061226e-01]

In [33]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

ridge_model1 = Ridge(alpha = 0.1)
ridge_model1.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model1.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Ridge model coef: [-1.32535034e-01  3.59944827e-02  4.38480378e-02  3.09567615e+00
 -1.40625952e+01  4.06131940e+00 -1.20010626e-02 -1.36547356e+00
  2.39463689e-01 -8.81732204e-03 -8.95518536e-01  1.18278475e-02
 -5.49776010e-01]

In [24]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

ridge_model2 = Ridge(alpha = 0.2)
ridge_model2.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model2.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Ridge model coef: [-1.31757671e-01  3.61540942e-02  3.90928737e-02  3.07343925e+00
 -1.29265893e+01  4.06416315e+00 -1.29844778e-02 -1.34827715e+00
  2.36764069e-01 -8.91520504e-03 -8.82841915e-01  1.18563425e-02
 -5.52064115e-01]

In [25]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

ridge_model4 = Ridge(alpha = 0.4)
ridge_model4.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model4.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Ridge model coef: [-1.30544357e-01  3.64169666e-02  3.15741147e-02  3.03322086e+00
 -1.11279165e+01  4.06708913e+00 -1.45249766e-02 -1.32109427e+00
  2.32585706e-01 -9.07364444e-03 -8.62882651e-01  1.19019626e-02
 -5.55827727e-01]

In [26]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

ridge_model5 = Ridge(alpha = 0.5)
ridge_model5.fit(X_train, y_train)

print(f'Ridge model coef: {ridge_model5.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Ridge model coef: [-1.30063934e-01  3.65274959e-02  2.85516146e-02  3.01472828e+00
 -1.04037799e+01  4.06753193e+00 -1.51374729e-02 -1.31017080e+00
  2.30947859e-01 -9.13902575e-03 -8.54898953e-01  1.19205535e-02
 -5.57408317e-01]

In [27]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

lasso_model1 = Lasso(alpha = 0.001)
lasso_model1.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model1.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Lasso model coef: [-1.33223207e-01  3.58541994e-02  4.80415001e-02  3.10218343e+00
 -1.50654402e+01  4.05653876e+00 -1.10833360e-02 -1.38031239e+00
  2.41912162e-01 -8.73200965e-03 -9.06764520e-01  1.18043635e-02
 -5.47993456e-01]

In [28]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

lasso_model2 = Lasso(alpha = 0.002)
lasso_model2.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model2.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Lasso model coef: [-1.32976456e-01  3.58994628e-02  4.65605929e-02  3.08453166e+00
 -1.47138596e+01  4.05587931e+00 -1.13458839e-02 -1.37462726e+00
  2.41097480e-01 -8.76179538e-03 -9.02844475e-01  1.18146132e-02
 -5.48873323e-01]

In [29]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

lasso_model3 = Lasso(alpha = 0.003)
lasso_model3.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model3.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Lasso model coef: [-1.32729716e-01  3.59447125e-02  4.50793388e-02  3.06688105e+00
 -1.43622954e+01  4.05522019e+00 -1.16084478e-02 -1.36894303e+00
  2.40282516e-01 -8.79155862e-03 -8.98924452e-01  1.18248600e-02
 -5.49753040e-01]

In [30]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

lasso_model4 = Lasso(alpha = 0.004)
lasso_model4.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model4.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Lasso model coef: [-1.32483073e-01  3.59900184e-02  4.35978789e-02  3.04922981e+00
 -1.40107377e+01  4.05455969e+00 -1.18709756e-02 -1.36325958e+00
  2.39467878e-01 -8.82133137e-03 -8.95004397e-01  1.18351053e-02
 -5.50632819e-01]

In [31]:
#alpha factor here is lambda (penalty term) which helps to reduce the magnitude of coeff

lasso_model5 = Lasso(alpha = 0.005)
lasso_model5.fit(X_train, y_train)

print(f'Lasso model coef: {lasso_model5.coef_}')
#As the data has 10 columns hence 10 coefficients appear here

Lasso model coef: [-1.32236581e-01  3.60354009e-02  4.21167081e-02  3.03157633e+00
 -1.36591798e+01  4.05389749e+00 -1.21334562e-02 -1.35757614e+00
  2.38654157e-01 -8.85114804e-03 -8.91084496e-01  1.18453530e-02
 -5.51512773e-01]

In [34]:
#Lasso
print("Lasso Train 1: ", lasso_model1.score(X_train, y_train))
print("Lasso Test 1: ", lasso_model1.score(X_test, y_test))
print("Lasso Train 2: ", lasso_model2.score(X_train, y_train))
print("Lasso Test 2: ", lasso_model2.score(X_test, y_test))
print("Lasso Train 3: ", lasso_model3.score(X_train, y_train))
print("Lasso Test 3: ", lasso_model3.score(X_test, y_test))
print("Lasso Train: 4 ", lasso_model4.score(X_train, y_train))
print("Lasso Test: 4 ", lasso_model4.score(X_test, y_test))
print("Lasso Train: 5", lasso_model5.score(X_train, y_train))
print("Lasso Test: 5", lasso_model5.score(X_test, y_test))
print('*************************')
#Ridge
print("Ridge Train: 1", ridge_model1.score(X_train, y_train))
print("Ridge Test: 1", ridge_model1.score(X_test, y_test))
print("Ridge Train: 2", ridge_model2.score(X_train, y_train))
print("Ridge Test: 2", ridge_model2.score(X_test, y_test))
print("Ridge Train: 3", ridge_model3.score(X_train, y_train))
print("Ridge Test: 3", ridge_model3.score(X_test, y_test))
print("Ridge Train: 4", ridge_model4.score(X_train, y_train))
print("Ridge Test: 4", ridge_model4.score(X_test, y_test))
print("Ridge Train: 5", ridge_model5.score(X_train, y_train))
print("Ridge Test: 5", ridge_model5.score(X_test, y_test))

Lasso Train 1:  0.7434954195159733
Lasso Test 1:  0.7110394345928663
Lasso Train 2:  0.7434824204188087
Lasso Test 2:  0.7108409922939347
Lasso Train 3:  0.7434607571429956
Lasso Test 3:  0.7106306755399563
Lasso Train: 4  0.7434304297757478
Lasso Test: 4  0.7104085259596757
Lasso Train: 5 0.7433914378054097
Lasso Test: 5 0.7101745438927423
*************************
Ridge Train: 1 0.7434382188771707
Ridge Test: 1 0.710317820639133
Ridge Train: 2 0.7432916097469264
Ridge Test: 2 0.7094332438294528
Ridge Train: 3 0.7430985052182779
Ridge Test: 3 0.7085934803372631
Ridge Train: 4 0.7428817035196318
Ridge Test: 4 0.7078069698278306
Ridge Train: 5 0.7426548833699382
Ridge Test: 5 0.707075618914623

In [ ]:
#